<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extensions</title>
    <link rel="stylesheet" href="../assets/css/main.css">
</head>
<body>
    <a href="../index.html">Trở về</a>
   <ul>
       <li>Extension : 
           <a href="https://chrome.google.com/webstore/detail/ddict-translate-translato/bpggmmljdiliancllaapiggllnkbjocb?hl=vi">Ddict</a>
       </li>
       <h2>Các trang web học html</h2>
       <li>F8 : 
           <a href="https://fullstack.edu.vn/">link</a>
       </li>
       <li>W3 School : 
           <a href="https://www.w3schools.com/html/default.asp">link</a>
       </li>
       <li>Codecademy :
           <a href="https://www.codecademy.com/learn/learn-html">link</a>
       </li>
       <h2>Xem và hiểu qua định dạng HTML của 1 trang web</h2>
   </ul> 
</body>
</html>