<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cấu trúc thư mục</title>
    <link rel="stylesheet" href="../assets/css/phimtat.css">
    <link rel="stylesheet" href="../assets/css/main.css">
</head>
<body>
<a href="../index.html">Trở lại</a>
<table border="1" width="400" height="300">
    <caption align="top">DANH SÁCH PHÍM TẮT</caption>

    <tr>
        <th>Phím Tắt</th>
        <th>Chức năng</th>
    </tr>
    <tr>
        <td class="td">tab</td>
        <td class="td">Hoàn thiện code</td>
    </tr>
    <tr>
        <td class="td">ctrl + A</td>
        <td class="td">Chọn tất cả</td>
    </tr>
    <tr>
        <td class="td">ctrl + X</td>
        <td class="td">Cắt</td>
    </tr>
    <tr>
        <td class="td">ctrl + C</td>
        <td class="td">Sao chép</td>
    </tr>
    <tr>
        <td class="td">ctrl + V</td>
        <td class="td">Dán</td>
    </tr>
    <tr>
        <td class="td">ctrl + Z</td>
        <td class="td">Quay lại thao tác trước đó</td>
    </tr>
    <tr>
        <td class="td">ctrl + S</td>
        <td class="td">Lưu</td>
    </tr>
    <tr>
        <td class="td">ctrl + /</td>
        <td class="td">Comment </td>
    </tr>
    <tr>
        <td class="td">alt + click</td>
        <td class="td">Đa con trỏ</td>
    </tr>
    <tr>
        <td class="td">ctrl + D</td>
        <td class="td">Nhân đôi dòng hiện tại</td>
    </tr>
    <tr>
        <td class="td">ctrl + D</td>
        <td class="td">Nhân đôi dòng hiện tại</td>
    </tr>
    <tr>
        <td class="td">ctrl + shift + ↑</td>
        <td class="td">Di một đoạn code lên trên </td>
    </tr>
    <tr>
        <td class="td">ctrl + shift + ↓</td>
        <td class="td">Di một đoạn code xuống dưới</td>
    </tr>
    <tr>
        <td class="td">ctrl + F</td>
        <td class="td">Tìm kiếm một nội dung</td>
    </tr>
    <tr>
        <td class="td">ctrl + R</td>
        <td class="td">Tìm kiếm và thay thế</td>
    </tr>
</table>

</body>
</html>
